@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-4.0/InterVariable.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-bold';
    src: url('fonts/Inter-4.0/web/Inter-Bold.woff2') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

#container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#box1{
    width: 70%;
    height: 70vh;
}

#box-filho{
    height: 100%;
    margin-left: 150px;
    text-align: center;
}

textarea{
    font-family: 'Inter';
    width: 100%;
    height: 100%;
    color: rgba(10, 56, 113, 1);
    background-color: transparent;
    border: none;
    font-size: 32px;
    resize:none;
    overflow: auto;
}

textarea:focus{
    outline: none;
    color: rgba(10, 56, 113, 1);

}

::placeholder{
    color: rgba(10, 56, 113, 1);
}

#img_vetor{
    width: 12px;
    height: 12px;
}
 
#cx_inf{
    height: 12px;
    display: flex;
    justify-content:left;
    align-self: center;
    align-items: center;
    color: rgba(73, 80, 87, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}


#botoes{
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.botao{
    height:60px ;
    border-radius: 24px;
    font-size: 16px;
    gap: 8px;
}

#btn_cript{
    background: rgba(10, 56, 113, 1);
    border: none;
    color: white;
    width: 48%;
    margin-right: 3%;
}

#btn_cript:hover{
    background: rgb(17, 74, 143);
}

#btn_descript{
    border: 1px solid rgba(10, 56, 113, 1);
    background: transparent;
    color: rgba(10, 56, 113, 1);
    width: 48%;
}

#btn_descript:hover{
    background: rgb(236, 237, 240);
}

/* corpo 2 */

#box2{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 25%;
    height:100vh;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 32px;
    
}

#box-filho-2 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

#box-filho-escondido{
    width: 80%;
    height: 90%;
}

#p-crip-descrip{
    width: 100%; 
    max-height: 90%;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-size: 24px;
    color:rgba(73, 80, 87, 1);

}

.responsivo {
    width: 80%;
}

@media (max-width: 768px) {
    #box2 {
        width: 100%; 
    }

    .responsivo {
        width: 90%; 
    }
}

#txt-inf-1{
    font-family: "Inter-bold";
    color: rgba(52, 58, 64, 1);
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

#txt-inf-2{
    color: rgba(52, 58, 64, 1);
    font-size: 16px;
    text-align: center;
    margin: 0;
}

#btn_cop{
    border: 1px solid rgba(10, 56, 113, 1);
   border-radius: 24px;
   width: 100%;
   height: 65px;
   margin-top: 5%;
   font-size: 16px;
   background-color: transparent;
   color: rgba(10, 56, 113, 1);
}

#btn_cop:hover{
    background: rgb(236, 237, 240);
}

#box-filho-escondido{
    display: none;
}
